
// .answer-box {
// 	background: url('img/4-select-2-up-bg.png') center center no-repeat;
// 	&.select-4 {
// 		background: url('img/4-select-2-up-bg.png') center center no-repeat;
// 	}
// }

.answer {
	// img {
	// 	-webkit-transition: opacity 0.5s ease-in-out;
	//     -moz-transition: opacity 0.5s ease-in-out;
	//     transition: opacity 0.5s ease-in-out;
	// }
	&.categories.selected img {
		opacity: 0.3;
	}
}


.answer-box {
	&.col-md-6 {
		display: block;
		width: 544px;
		height: 83px;
		background: url('../img/4-select-2-up-bg.png');
		.label-wrap {
			top: 0;
			position: relative;
			left: 15px;
			height: 70px;
			padding: 23px 0 0 0;
			max-width: 405px;
			text-align: left;
			// padding: 10px 0 0 0;
		}
		.label-text {

		}
	}
	&.picture {
		display: block;
		width: 544px;
		height: 83px;
		background: url('../img/4-select-2-up-bg.png');
	}
}

.answers-main-content {
	// @include
}

// Select answer
.answer-box.select {
	&.single {
		width: 544px;
		height: 70px;
		background: url('../img/multi-select-bg.png');
		display: block;
	}
}

.answer-box.radio-split {
	width: 545px;
	height: 84px;
	background: url('../img/select-with-blue-bg.png');
	.label-wrap {
		position: absolute;
		left: 90px;
	}
	.label-more-wrap {
		display: inline-block;
		width: 307px;
		text-align: left;
		position: absolute;
		left: 218px;
		top: 20px;
	}
	.label-text-more {
		color: #ffffff;
		font-size: 16px;
		line-height: 16px;
		font-family: $AG-Bold-Cnd;
	}
}

.answer-box.boxes-icon {
	// @include make-md-column(6);
	width: 181px;
	height: 215px;
	background: url('../img/icon-thumb-bg.png');
	display: inline-block;
	position: relative;
	.icon-wrap {
		img {
			position: relative;
			top: 25px;
		}
	}
	.select-icon {
		top: 170px;
		left: 19px;
	}
	.label-wrap {
		position: absolute;
		bottom: 21px;
	}
}

// temporary
// .answer-box {
// 	width: 285px;
//   	height: 59px;
//   	background: url('../img/4-select-4-up-bg.png');
// }

// width: 374px;
// height: 59px;
// background: url('../img/2-select-bg.png');

// width: 544px;
// height: 83px;
// background: url('../img/4-select-2-up-bg.png');

// width: 284px;
// height: 59px;
// background: url('../img/4-select-4-up-bg.png');


// width: 285px;
// height: 192px;
// background: url('../img/4-select-4-up-item-bg.png');

// width: 545px;
// height: 84px;
// background: url('../img/select-with-blue-bg.png');

// width: 33px;
// height: 33px;
// background: url('../img/not-selected-box.png');



// width: 861px;
// height: 42px;
// background: url('../img/slider-bg.png');

.select {

	.multi {
		display: block;
		width: 285px;
		height: 192px;
		background: url('../img/4-select-4-up-item-bg.png');
	}

}
.selected {
	.select-icon {
		background: url('../img/icon-select-selected.png');
	}
}

.select-icon {
	display: block;
	width: 33px;
	height: 33px;
	background: url('../img/icon-select-not-selected.png');
	position: absolute;
	top: 21px;
	left: 27px;
}

// Ranking
.as-sortable-item {
	border: none;
}
.ranking {
	ul, li, a {
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.rank-number-wrap {
		display: inline-block;
		border-radius: 2px;
		background-color: rgba(76, 76, 76, 0.161);
		box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
		width: 63px;
		height: 61px;
		.rank-number {
			font-family: $AG-Bold-Cnd;
			font-size: 27px;
			// opacity: 0.54; // this should also be a colour...
			color: #5d5d5d;
			top: 12px;
	  		position: relative;
		}	
	}
	.label-wrap {
		display: inline-block;
		width: 532px;
		height: 49px;
		background: url('../img/ranking-bg.png');
	}
	.label-text {
		top: 10px;
	}
	
}
.label-wrap {
	display: inline-block;
}
.label-text {
	font-family: $AG-Bold-Cnd;
	font-size: 20px;
	// opacity: 0.80; // this should also be a colour...
	color: #575757;
	// top: 10px;
	position: relative;
}

