#main {
	background: white;
}

.app-content-main-top {
	h2, h3 {
		font-family: $AG-Bold-Cnd;
	}
	h2 {
		color: #000000;
	}
	h3 {
		opacity: 0.80; // shouldn't this simply be a grey color? ...
		// color: #797979;
	}
	.app-content-main-top-left {

	}
	.app-content-main-top-right {
		.btn {
			font-family: $AG-Bold-Cnd;
			font-size: 21px;
			// Bootstrap mixin
			@include button-variant(#ffffff, #002e58, #002e58);
			padding: 3px 18px;
		}
	}
	.extra-info-wrap {
		display: block;
		.btn-wrap {
			display: inline-block;
		}
		.btn-icon {
			background: #002e58;
			border-radius: 24px;
			width: 24px;
			height: 24px;
			text-align: center;
			display: inline-block;
			span {
				font-family: Helvetica, Arial, sans-serif;
				color: #fff;
				font-size: 20px;
				position: relative;
				bottom: 2px;
			}

		}
		.btn-text {
			font-family: $AG-Bold-Cnd;
			color: #222222;
			font-size: 10px;
			position: relative;
			bottom: 5px;
			text-transform: uppercase;
		}
	}
}

.tooltip {

	.tooltip-arrow {
		border-bottom-color: #02274b;
		margin-left: -5px;
		border-width: 0 150px 50px

	}
	.tooltip-inner {
		color: #fff;
		background: #02274b;
		font-size: 10px;
		line-height: 10px;
		padding: 30px 15px;
	}
}



.app-answers {
	float: left;
	.answer-option {
		// margin-left: 10px;
		// margin-right: 10px;
		&:hover {
			text-decoration: none;
			// fade in / out
			// img.regular {
			// 	display: none;
			// }
			// img.active {
			// 	display: block;
			// }
		}
		// Category examples
		&.laundry {
			// margin-left: 0;
			img {
				width: 250px;
				// height: 293px;
			}
		}
		&.cooking {
			img {
				width: 250px;
				// height: 315px;
			}
		}
		&.fridge {
			img {
				width: 275px;
				// height: 315px;
			}
		}
		&.dishwasher {
			// margin-right: 0;
			img {
				width: 175px;
				// height: 315px;
			}
		}

		// Subcategory examples
		&.ranges {
			img {
				width: 250px;
			}
		}
		&.cooktops {
			img {
				width: 200px;
			}
		}
		&.wallovens {
			img {
				width: 200px;
			}
		}
		&.venthoods {
			img {
				width: 200px;
			}
		}
		.category-name {
			margin-top: 25px;
			display: block;
			color: #000000;
			font-size: 19px;
			text-align: center;

			font-family: $AG-Bold-Cnd;
		}
	}
}

.app-content-main-bottom {
	.btn-next, .btn-prev {
		&:hover {
			.btn {
				background-color: #002e58;
			}
		}
	}
	.btn {
		font-family: $AG-Bold-Cnd;
		font-size: 21px;
		// Bootstrap mixin
		@include button-variant(#ffffff, #7d7d7d, #7d7d7d);
		padding: 3px 18px;
	}
	.btn-text {
		color: #7d7d7d;
	}
	.icon-nav-wrap {
		
	}
	.icon-nav {
		display: inline-block;
		float: left;
		width: 80px;
		text-align: center;
	}
	.icon-text {
		padding-top: 13px;
		font-size: 11px;
		color: #2e2e2e;
		font-family: Geneva, Verdana, sans-serif;
		display: block;
		&:hover {
			color: #2e2e2e;
			text-decoration: none;
		}
	}
	
	

	

	.results-count-wrap {
		display: inline-block;
		float: left;
		width: 59px;
		height: 59px;
		background: url('../img/matches-bg.png') center center no-repeat;
		.results-count-number {
			font-family: $AG-Bold-Cnd;
			font-size: 27px;
			color: #414141;
			line-height: 27px;
			padding-top: 7px;
			padding-bottom: 2px;
		}
		.results-count-label {
			font-family: $AG-Bold-Cnd;
			font-size: 14px;
			color: #414141;
			text-transform: uppercase;
		}
	}

	// before icons, lines:
	// tall one
	// display: inline-block;
	// height: 42px;
	// width: 1px;
	// background: #666666;
	// margin-top: 0px;

	// short one
	// display: inline-block;
	// height: 20px;
	// width: 1px;
	// background: #666666;
	// margin-top: 10px;

}

.app-content-main-bottom-center .icon-nav-wrap {
	&:after {
		content: "";
		background: #666666;
		width: 1px;
		height: 20px;
		display: inline-block;
		position: relative;
		float: left;
		margin-top: 10px;
	}
	&:nth-child(1), &:nth-child(2) {
		&:after {
			content: "";
			background: #666666;
			width: 1px;
			height: 42px;
			display: inline-block;
			// left: -50px;
			// position: absolute;
			// left: 10px;
			// top: 0;
			position: relative;
			float: left;
			margin-top: 0px;
		}
	}
}