.main-content {
	// @extend .row;
	max-width: 1360px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	@include noselect;
	.content-inner {
		width: 100%;
		padding-top: 25px;
		@include noselect;
		// padding-bottom: 25px;

		.buttons-top-right-btns {
			display: inline-block;
			float: right;
			margin-right: 50px;

			.share-wrapper {
				height: 30px;
				text-align: center;
				display: inline-block;
				margin-left: 1px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				position: relative;

				> span {
					z-index: 3;
					width: 30px;
					height: 30px;
					display: inline-block;
					position: relative;
					float: left;
				}

				> span:not(:first-child) {
					margin-left: 2px;
				}
			}
			.share-popout, .share-popout-cover {
				position: absolute;
				top: 0;
				width: 64px;
				z-index: 1;
				/*display: none;*/

				span {
					float: left;
					width: 30px;
					height: 30px;
					display: inline-block;
					margin-right: 2px;
				}
			}
			.share-popout-cover {
				background-color: #FFF;
				z-index: 2;
				height: 100%;
			}
			.icon-email {
				display: none !important;
			}
			.icon-share,.icon-email,.icon-share-fb,.icon-share-tw {
				background: url('../img/icon-share.png') center center no-repeat;
				cursor: pointer;
			}
			.icon-email {
				background: url('../img/icon-mail.png') center center no-repeat;
			}
			.icon-share-fb {
				background: url('../img/icon-share-fb.png') center center no-repeat;
			}
			.icon-share-tw {
				background: url('../img/icon-share-tw.png') center center no-repeat;
			}
		}
		.buttons-top-right-btns.show-email-icon .icon-email {
			display: block !important;
		}
	}
}

.main {
	.main-content {
		min-height: 125px;
	}
}

.app-content-main-top {
	@include make-row;
	padding-bottom: 25px;
	@include noselect;

	.app-content-main-top-left {
		@include make-md-column(8);
		min-height: 154px;
	}
	.app-content-main-top-right {
		@include make-md-column(4);
		text-align: right;
		.btn {
			padding: 3px 18px;
		}
	}
	// Question
	h2 {
		text-transform: uppercase;
		font-size: 36px;
		margin-top: 0px;
		margin-bottom: 10px;
		color: #333333;
	}
	// Instructions
	h3 {
		text-transform: uppercase;
		font-size: 23px;
		margin-top: 0px;
	}
}

.answers-main-content {
	width: 100%;
	// margin-right: 15px;
	// margin-left: 15px;
}


.app-answers {
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 25px;
}

// new container for prev and next app nav arrows
.app-nav-arrows {
	display: block;
    position: relative;
}
.bottom-nav-wrap {
	max-width: 800px;
    display: inline-block;
}

.app-content-main-bottom {
	@include make-row;
	padding-top: 5px;
	padding-bottom: 5px;
	@include noselect;
	// .app-content-main-bottom-left {
	// 	@include make-md-column(1);
	// 	// padding-left: 0;
	// 	// padding-right: 0;
	// }
	.app-content-main-bottom-center {
		// @include make-md-column(10);
		padding-left: 0;
		padding-right: 0;
		text-align: center;

	}
	// .app-content-main-bottom-right {
	// 	@include make-md-column(1);
	// 	// padding-left: 0;
	// 	// padding-right: 0;
	// 	text-align: right;
	// }
	.btn-next, .btn-prev {
		@include noselect;
		
		// temporary
		bottom: 200px;
		position: absolute;
		// svg {
		// 	display: block;
		// 	width: 28px;
		// }
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	.btn-prev {
		left: 25px;
	}
	.btn-next {
		right: 25px;
	}
	.btn {
		padding: 3px 18px;
	}
	.btn-text {
		text-transform: uppercase;
		font-size: 9px;
		margin-top: 5px;
	}
	.icon-nav {
		display: inline-block;
		float: left;
		width: 40px;
		text-align: center;
	}
	.icon-text {
		display: block;
		padding-top: 13px;
		// padding-top: 6px;
	}
	.results-count-wrap {
		display: inline-block;
		float: left;
		.results-count {
			display: inline-block;
			// float: left;
			width: 59px;
			height: 59px;
		}
		.results-count-number {
			padding-top: 7px;
			padding-bottom: 2px;
		}
		.results-count-label {
			text-transform: uppercase;
		}
	}
	.icon-nav-wrap {
		display: inline-block;
		float: left;
		a {
			cursor: pointer;
		}
	}
	.icon-img {
		max-width: 41px;
		max-height: 41px;
		// &.current {
		// 	display: none;
		// }
	}
	.icon-img-current {
		// display: none;
		max-width: 52px;
		max-height: 53px;
		// &.current {
		// 	display: inline-block;
		// }
	}

}

.mobile-nav {
	position: absolute;
	width: 100%;
	height: 200px;
}


@media(max-width:1125px) {
	body {
		overflow-x: hidden;
	}


	.main-content .content-inner {
		padding-top: 8px;
	}

	.app-content-main-top {
		width: 80% !important;
		margin: initial !important;
		padding-top: 0px;
		padding-bottom: 0px;

		h2 {
			margin-bottom: 2px;
		}
	}
/* More Progress Bar styles.  If anything move styles from _app-main-mt.scss
    As I do not see these as brand specific styles. A Progress Bar file would be optimal.
    Added Sept 8th 2015 by Jacoub Bondre */
    .app-content-main-bottom{
        .icon-nav {
            display: inline-block;
            float: left;
            width: 30px;
            text-align: center;
	   }
    }
    
	.app-answers .category, .app-answers .sub-category {
		width: 105px;
		margin: 10px auto;
	}

	.app-content-main-top-left {
		padding-left: 50px;
	}

	.main-content {
		max-width: initial;
	}

	.app-content-main-top {
		width: 100%;
	}

	.slidey-wrap-all {
		height: 560px !important;
	}

	.slidey {
		width: 80% !important;
		min-width: 100% !important;
		left: -50% !important;
	}

	.slidey .answers-main-content.answer-slider, .slidey .answers-main-content.price-slider {
		width: 100px;
		height: 500px;

		.slider-wrap {
			width: initial;
			height: inherit;
		}

		.jslider {
			width: 1em;
			height: 95%;

			.jslider-bg {
				height: 95%;
				width: 40px;
				background: url("../img/slider-bg-vertical.jpg");
			}
		}
	}

	.regular-2-container {
		width: 82% !important;
	}

	.regular-4-container {
		width: 100% !important;
	}

	.picture-2-container, .picture-3-container {
		width: 375px !important;
		margin-top: 0px !important;
	}

	a.boxes-icon-5 {
		margin-top: 10px;
	}

	a.answer-box.picture-3, a.answer-box.picture-2 {
		width: 250px;
	}

	a.answer-box.picture-3, a.answer-box.picture-2, a.answer-box.checkbox-4 {
		float: none;
		margin-bottom: 14px;
	}

	a.answer-box.picture-3, a.answer-box.picture-2 {
		.img-wrap {
			height: initial;
		}

		.select-icon {
			bottom: 8px;
			top: initial;
		}

		.label-wrap * {
			font-size: 16px;
		}
	}

	a.answer-box.radio, a.answer-box.radio-2, a.answer-box.radio-3, a.answer-box.radio-4 {
		float: initial !important;
		margin: 10px auto;
	}
}

@media(max-width:750px) {
	.app-content-main-top-left {
		h2 {font-size: 18pt;}
		h3 {font-size: 12pt;}
	}
}