.main-content {
	// @extend .row;
	max-width: 1160px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	@include noselect;
	.content-inner {
		width: 100%;
		padding-top: 25px;
		@include noselect;
		// padding-bottom: 25px;
	}
}

.app-content-main-top {
	@include make-row;
	padding-bottom: 25px;
	@include noselect;
	.app-content-main-top-left {
		@include make-md-column(8);
	}
	.app-content-main-top-right {
		@include make-md-column(4);
		text-align: right;
		.btn {
			padding: 3px 18px;
		}
	}
	// Question
	h2 {
		text-transform: uppercase;
		font-size: 36px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	// Instructions
	h3 {
		text-transform: uppercase;
		font-size: 23px;
		margin-top: 0px;
	}
}

.answers-main-content {
	width: 100%;
	// margin-right: 15px;
	// margin-left: 15px;
}


.app-answers {
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 25px;
}

.app-content-main-bottom {
	@include make-row;
	padding-top: 25px;
	padding-bottom: 25px;
	@include noselect;
	.app-content-main-bottom-left {
		@include make-md-column(1);
		// padding-left: 0;
		// padding-right: 0;
	}
	.app-content-main-bottom-center {
		@include make-md-column(10);
		padding-left: 0;
		padding-right: 0;
		text-align: center;

	}
	.app-content-main-bottom-right {
		@include make-md-column(1);
		// padding-left: 0;
		// padding-right: 0;
		text-align: right;
	}
	.btn-next, .btn-prev {
		@include noselect;
		svg {
			display: block;
			width: 28px;
		}
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	.btn {
		padding: 3px 18px;
	}
	.btn-text {
		text-transform: uppercase;
		font-size: 9px;
		margin-top: 5px;
	}
	.icon-nav {
		display: inline-block;
		float: left;
		// width: 80px;
		width: 69px; // necessary for fitting max number
		text-align: center;
	}
	.icon-text {
		display: block;
		padding-top: 13px;
		// padding-top: 6px;
	}
	.results-count-wrap {
		display: inline-block;
		float: left;
		.results-count {
			display: inline-block;
			// float: left;
			width: 59px;
			height: 59px;
		}
		.results-count-number {
			padding-top: 7px;
			padding-bottom: 2px;
		}
		.results-count-label {
			text-transform: uppercase;
		}
	}
	.icon-nav-wrap {
		display: inline-block;
		float: left;
		a {
			cursor: pointer;
		}
	}
	.icon-img {
		max-width: 41px;
		max-height: 41px;
	}

}

// .bottom-nav-inner {
// 	display: inline-block;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// .results-count-wrap {
// 	background: url('');
// }