
body.maytag {
	background: #fff url('../img/bg_header_blue.jpg') repeat-x 50% 0;

	color: #fff;
}
.bg-maytag {

	// background: #355b8d;

	background: url('../img/bg-maytag.png') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}