
body.maytag {
	background: #fff url('../img/bg_header_blue.jpg') repeat-x 50% 0;

	color: #fff;
}
.bg-maytag {
	// background-image: url('../img/bg-maytag.png') center center no-repeat;
	// height: 100%;
	// width: 100%;

	background: #355b8d;
}