<!-- Picture box answers -->
<div class="answers-main-content row">
	<a href="" class="answer-option answer-box col-md-3">
		<img src="http://placehold.it/175x280">
		<div>Laundry</div>
	</a>
	<a href="" class="answer-option answer-box col-md-3">
		<img src="http://placehold.it/175x280">
		<div>Cooking</div>
	</a>
	<a href="" class="answer-option answer-box col-md-3">
		<img src="http://placehold.it/175x440">
		<div>Refrigerator</div>
	</a>
	<a href="" class="answer-option answer-box col-md-3">
		<img src="http://placehold.it/175x280">
		<div>Dishwasher</div>
	</a>
	<a href="" class="answer-option answer-box col-md-3">
		<img src="http://placehold.it/175x280">
		<div>Ventilation</div>
	</a>
</div>