<!-- Icon box answers...this one in particular needs to be multiselect / checkbox - Fridge Q6 -->
<div class="answers-main-content boxes-icon-5-container" ng-controller="CheckboxCtrl">
	<a href="" ng-repeat="answer in questionsData.question.show.answers" 
	class="answer answer-option answer-box boxes-icon-5 {{answer.classes}}" ng-init="answer.activeImage=answer.image" ng-click="toggle(questionsData.question.show.answers, answer)" ng-class="{noanswer : !controls.questionHasAnswer, selected : answer.answer}">
		<div class="icon-wrap">
			<img class="normal" ng-src="{{answer.image}}" />
			<img class="hover" ng-if="!!answer.hover" ng-src="{{answer.hover}}" />
		</div>
		<div class="select-icon"></div>
		<div class="label-wrap">
			<span class="label-text" ng-bind="answer.text"></span>
		</div>
	</a>
</div>