<!-- Carousel picture boxes answers -->
<!-- http://angular-ui.github.io/bootstrap/#/carousel -->
<style>

.answer {
	border: solid 0px #ff0000;
}

.selected {
	  border: solid 4px #ffff00;
}

.noanswer {
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
	border: solid 4px #ff0000;
}
</style>
<div class="answers-main-content row">
	<a href="" class="answer-option answer-box col-md-4" ng-repeat="answer in questionsData.question.show.answers" ng-click="answer.answer=true" ng-class="{noanswer : !controls.questionHasAnswer, selected : answer.answer}">
		<div>
			<div style="height: 305px">
				<carousel interval="5000" style="width: 200px; height: 200px">
					<slide ng-repeat="image in answer.images">
						<img ng-src="{{image}}" style="margin:auto;">
						<div class="carousel-caption">
							<h4>{{answer.text}}</h4>
						</div>	
					</slide>
				</carousel>
			</div>
		</div>
	</a>
</div>


