<!-- Icon box answers with blue background and hover / active state -->
<div class="answers-main-content boxes-icon-2-container" ng-controller="RadioCtrl">
	<a href="" ng-repeat="answer in questionsData.question.show.answers" 
	class="answer answer-option answer-box boxes-icon-split {{answer.classes}}" ng-init="answer.activeImage=answer.image" ng-click="toggle(questionsData.question.show.answers, answer)" ng-class="{noanswer : !controls.questionHasAnswer, selected : answer.answer}">
		<div class="icon-wrap">
			<img class="normal" ng-src="{{answer.image}}" />
			<img class="hover" ng-if="!!answer.hover" ng-src="{{answer.hover}}" />
		</div>
		<div class="select-icon"></div>
		<div class="label-wrap">
			<span class="label-text" ng-bind="answer.text"></span>
		</div>
		<div class="label-more-wrap">
			<span class="label-text-more" ng-bind="answer.text_more"></span>
		</div>
	</a>
</div>