<!-- Initial Categories and Subcategores with Large Custom Pictures -->
<div class="answers-main-content" ng-controller="RadioCtrl">

	<a href="" ng-repeat="answer in questionsData.question.show.answers" class="answer answer-option answer-box categories {{answer.classes}} col-md-{{boxWidth}}" ng-click="toggle(questionsData.question.show.answers, answer)" ng-init="answer.activeImage=answer.image" ng-class="{noanswer : !controls.questionHasAnswer, selected : answer.answer}">
		<carousel interval="5000">
			<slide ng-repeat="image in answer.images">
				<img class="normal"  ng-src="{{image}}">
				<div class="carousel-caption">
					<div class="category-name">{{answer.text}}</div>
				</div>	
			</slide>
		</carousel>
	</a>
</div>