<!-- Initial Categories and Subcategores with Large Custom Pictures -->
<div class="answers-main-content" ng-controller="RadioCtrl">

	<a href="" ng-repeat="answer in qs.text[0].answers" class="answer answer-option answer-box categories {{answer.classes}} col-md-{{boxWidth}}" ng-click="toggle(qs.text[0].answers, answer);next()" ng-init="answer.activeImage=answer.image" ng-class="{noanswer : !controls.questionHasAnswer}">
		<img class="normal" ng-src="{{answer.image}}" />
		<img class="hover" ng-if="!!answer.hover" ng-src="{{answer.hover}}" />

		<div class="category-name" ng-bind="answer.text"></div>
	</a>
</div>