<!-- Radio single-select answers -->
<div class="answers-main-content regular-container" ng-controller="BoxesPictureCtrl">
	<a href="" class="answer-option answer-box radio" ng-repeat="answer in questionsData.question.show.answers" ng-click="toggle(questionsData.question.show.answers, answer)" ng-class="{noanswer : !controls.questionHasAnswer, selected : answer.answer}">
		<div class="select-icon"></div>
		<div class="label-wrap">
			<span class="label-text" ng-bind="answer.text" ng-class="{'long-answer': answer.text.length > 60}"></span>
		</div>
	</a>
</div>