<!-- Slider answer -->

<!-- http://darul75.github.io/ng-slider/ 
https://www.npmjs.com/package/ng-slider -->
<div ng-controller="SliderMultipleCtrl">
	<div class="multi-slider-wrap" ng-init="setLast()" >
		
		<div class="answers-main-content answer-slider pointer-labels">
			
			<!-- If the slider has a dimension value, then it appears within the label below -->
		    <div class="slider-large-label-wrap" ng-if="!!qs.text[0].options.dimension_label">
		        <span class="slider-large-label" ng-bind="qs.text[0].options.dimension_label"></span>
		    </div>

		    <!-- Only if it has a dimension value, and now only on the left side -->
		    <div class="slider-bg slider-bg-left" ng-if="!!qs.text[0].options.dimension_label"></div>

		    <div class="slider-wrap" ng-class="{'last-answer-active' : qs.text[0].answer == qs.text[0].last}">
				<input ng-model="qs.text[0].answer" ng-change="setAnswer()" type="text" id="answerSlider" slider options="qs.text[0].options" />
			</div>

			<!-- <div class="slider-bottom-labels" ng-if="qs.text[0].classes == 'slider-labels'">
		        <div class="slider-answer-label-wrap {{$index + 1}}" ng-repeat="labeltext in qs.text[0].answers">
		            <span class="slider-answer-label" ng-bind-html="labeltext.text"></span>
		            <span class="slider-answer-label more" ng-bind-html="labeltext.text_more"></span>
		        </div>
		    </div> -->

		</div>
	</div>

	<div class="multi-slider-wrap">
		
		<div class="answers-main-content answer-slider bottom pointer-labels">
		    <div class="slider-large-label-wrap" ng-if="!!qs.text[0].options.dimension_label">
		        <span class="slider-large-label" ng-bind="qs.text[0].options.dimension_label"></span>
		    </div>

		    <div class="slider-bg slider-bg-left" ng-if="!!qs.text[0].options.dimension_label"></div>

		    <div class="slider-wrap" ng-class="{'last-answer-active' : qs.text[1].answer == qs.text[1].last}">
		    	<input ng-model="qs.text[1].answer" ng-change="setAnswer()" type="text" id="answerSlider" slider options="qs.text[1].options" />
		    </div>

		    <!-- <div class="slider-bottom-labels" ng-if="qs.text[0].classes == 'slider-labels'">
		        <div class="slider-answer-label-wrap {{$index + 1}}" ng-repeat="labeltext in qs.text[0].answers">
		            <span class="slider-answer-label" ng-bind-html="labeltext.text"></span>
		            <span class="slider-answer-label more" ng-bind-html="labeltext.text_more"></span>
		        </div>
		    </div> -->

		</div>

	</div>
</div>
