<!-- Slider answer -->

<!-- http://darul75.github.io/ng-slider/ 
https://www.npmjs.com/package/ng-slider -->
<div class="slider-wrap">
	<div class="slider-label">
		
	</div>
	<div class="answers-main-content answer-slider" ng-controller="SliderMultipleCtrl">
		<input ng-model="questionsData.question.text[0].answer" ng-change="setAnswer()" type="text" id="answerSlider" slider options="questionsData.question.text[0].options" />
	</div>
</div>

<div class="slider-wrap">
	<div class="slider-label">

	</div>
	<div class="answers-main-content answer-slider bottom" ng-controller="SliderMultipleCtrl">
	    <input ng-model="questionsData.question.text[1].answer" ng-change="setAnswer()" type="text" id="answerSlider" slider options="questionsData.question.text[1].options" />
	</div>
</div>

<!-- <div class="answers-main-content answer-slider" ng-controller="SliderMultipleCtrl">
	<input ng-model="questionsData.question.text[0].answer" ng-change="setAnswer()" type="text" id="answerSlider" slider options="questionsData.question.text[0].options" />
</div>

<div class="answers-main-content answer-slider">
    <input ng-model="questionsData.question.text[1].answer" ng-change="setAnswer()" type="text" id="answerSlider" slider options="questionsData.question.text[1].options" />
</div> -->
