<!-- Slider answer -->

<!-- https://github.com/rzajac/angularjs-slider 
http://rzajac.github.io/angularjs-slider/-->

<div class="answers-main-content answer-slider {{questionsData.question.show.answer}} {{questionsData.question.show.classes}}" ng-controller="SliderCtrl" style="">

    <div class="slider-top-labels" ng-if="questionsData.question.show.classes != 'bottom-labels'">
        <div class="slider-answer-label-wrap {{$index + 1}}" ng-repeat="labeltext in questionsData.question.show.answers">
            <span class="slider-answer-label" ng-bind-html="labeltext.text"></span>
            <span class="slider-answer-label more" ng-if="labeltext.text_more" ng-bind-html="labeltext.text_more"></span>
        </div>
    </div>
    
    <!-- If the slider has a dimension value, then it appears within the label below -->
    <div class="slider-large-label-wrap" ng-if="!!questionsData.question.show.options.dimension">
        <span class="slider-large-label" ng-bind="questionsData.question.show.options.dimension"></span>
    </div>

    <div class="slider-bg slider-bg-left"></div>
    <div class="slider-bg slider-bg-right"></div>

    <div class="slider-wrap">
        <rzslider
            id="answerSlider" 
            class="{{questionsData.question.show.classes}}" 
            rz-slider-model="questionsData.question.show.answer" 
            rz-slider-floor="questionsData.question.show.options.from" 
            rz-slider-ceil="questionsData.question.show.options.to" 
            rz-slider-step="{{questionsData.question.show.options.step}}" 
            rz-slider-hide-limit-labels="false" 
            rz-slider-translate="translate" 
            rz-slider-always-show-bar="true">
        </rzslider>
    </div>

    <div class="slider-bottom-labels" ng-if="questionsData.question.show.classes == 'bottom-labels'">
        <div class="slider-answer-label-wrap {{$index + 1}}" ng-repeat="labeltext in questionsData.question.show.answers">
            <span class="slider-answer-label" ng-bind-html="labeltext.text"></span>
            <span class="slider-answer-label more" ng-if="labeltext.text_more" ng-bind-html="labeltext.text_more"></span>
        </div>
    </div>

</div>