<!-- Checkbox answers -->
<div class="answers-main-content row">
	<a href="" class="answer-option answer-box select-4" ng-click="">
		<span class="select-icon"></span>
		<div ng-bind="">As soon as it's full</div>
	</a>
	<a href="" class="answer-option answer-box select-4" ng-click="">
		<img src="img/not-selected-box.png">
		<div ng-bind="">Every morning before work</div>
	</a>
	<a href="" class="answer-option answer-box select-4" ng-click="">
		<div ng-bind="">Just before bed</div>
	</a>
	<a href="" class="answer-option answer-box select-4" ng-click="">
		<div ng-bind="">Only during off-peak hours</div>
	</a>
</div>