// Will be split up into appropriate partials after initial demo


.inner {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top-section {
	padding-top: 25px;
	.top-section-left {
		display: inline-block;
		// width: 50%;
		width: 49%;
		#wp-app-search {
			text-transform: uppercase;
		}
	}

	.top-section-right {
		display: inline-block;
		// width: 50%;
		a {
			// @include AGBQ-Regular;
			font-size: 15px;
			color: #fff;
			margin-right: 50px;
		}
	}
}

// Questions and Answers main content
#app-content-main {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	div {
		text-align: center;
	}
	hr {
		border-top: 1px solid #fff;
		opacity: 0.47;
	}
	.app-content-main-top {
		.left, .right {
			display: inline-block;
			width: 49%;
		}
		h3.question {
			color: #fff;
			max-width: 425px;
			text-align: left;
			// @include AGBQ-Bold;
			font-size: 38px;
			text-transform: uppercase;
		}
		#app-save {
			float: right;
			text-transform: uppercase;
			font-size: 17px;
			color: #fff;
			padding: 7px 17px;
			border: 1px solid #fff;
		}
	}
}

#app-categories {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 80px;
	.category {
		color: #fff;
		display: inline-block;
		text-align: center;
		img {
			display: inline-block;
			margin-bottom: 15px;
		}
		.category-name {
			// @include Replica-Bold;
			font-size: 18px;
			text-transform: uppercase;


		}
		.category-options {
			// @include Replica-Light;
			font-size: 18px;
		}
		&:nth-child(2) {
			margin-left: 130px;
			margin-right: 130px;
		}
	}
}	

#app-choices-bottom-section {
	padding-top: 20px;
	padding-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	max-width: 455px;
	.product-type {
		display: inline-block;
		width: 19%;
	}
	// Temporary
	img {
		margin-bottom: 9px;
		// temporary
		display: inline-block;
	}
	.product-type-name {
		// @include AGBQ-Regular;

		font-size: 9px;
		color: #fff;
		text-transform: uppercase;
		max-width: 85px;
		display: inline-block;
	}
}