<footer class="maytag-mobile">
	<!-- start mobile footer -->
	<ul class="footer-links">
                <li><a data-toggle="modal" href="" onclick="setMobileDeviceCookie('0');location.reload();" class="desktop-link">Allez sur le site de bureau</a></li>
				<li id="languageSwitch"><div class="languageContent"><a href="javascript:void(0);" onclick="javascript:prepareSubmitLanguageChange('-301@en_CA', document.SelectLanguageForm,'10229|-301');" id="languageTxtLink">English</a></div><div id="language" style="display:none;position:absolute;top:0;right:0;z-index:-1;"><div id="langdd"><ul id="ddown"><ol><form name="SelectLanguageForm" action="
	    http://www.maytag.ca/webapp/wcs/stores/servlet/WHRStoreRedirect?catalogId=10579&amp;reloadURL=http%3A%2F%2Fwww.maytag.ca%2Fwebapp%2Fwcs%2Fstores%2Fservlet%2FTopCategoriesDisplay%3FcatalogId%3D10579%26storeId%3D10229&amp;from=pageReload
	" method="post" id="SelectLanguageForm"><input type="text" name="langId" id="selLangId" class="ddowm_1" value="-300@fr_CA"><input type="hidden" name="pageView" id="pageView" value=""><input type="hidden" name="beginIndex" id="beginIndex" value=""></form></ol></ul></div></div></li>
                 <li><a href="http://www.maytag.ca/fr_CA/2_3_30/glossary_glossary.content.html">Glossaire</a></li>
                <!--<li><a href="/fr_CA/2_3_1/jump-page_extended-service-plans.content.html">Warranty Information</a></li>-->
                <li><a href="http://www.maytag.ca/fr_CA/2_2_40/support_about-maytag.content.html">Modalités</a> | <a href="http://www.maytag.ca/fr_CA/2_3_50/jump-page_Press-and-Media.content.html">Press &amp; News</a> | <a data-toggle="modal" href="http://www.whirlpoolcanada.com/en/Home/default.html">Whirlpool Corporation</a></li>
                <li><a href="http://www.maytag.ca/fr_CA/2_2_42/support_about-maytag-brand-terms.content.html">Politique de confidentialité</a> | <a href="http://www.whirlpoolcorp.com/privacy-canada/">Privacy</a></li>
					
                <li class="legal">®/<sup>TM</sup> ©<script type="text/javascript">var d = new Date();document.write(d.getFullYear());</script>2015 Maytag. Tous droits réservés.</li>
            </ul>
	<!-- end mobile footer -->
</footer>
<footer class="maytag-desktop" data-ga-category="My WP Qualifier Footer Links">
	<!-- start desktop footer-->
	<!-- Maytag Footer -->
	<div id="footer-wrap" class="" style="clear:both">
	    <div id="footer">
	        <div id="footer-menu">
	            <ul class="first" data-ga-action="Clicked Footer Laundry Nav">
	                <li class="header"><a href="http://www.maytag.ca/fr_CA/Laundry-1/102290048/" data-ga-label="@clicked-text">Laveuses et sécheuses</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294966223/" data-ga-label="@clicked-text">Laveuses haute efficacité à chargement frontal</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294966498/" data-ga-label="@clicked-text">Laveuses haute efficacité à chargement vertical</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966503/" data-ga-label="@clicked-text">Sécheuses haute efficacité</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Washers-3/102290050+4294966497/" data-ga-label="@clicked-text">laveuses traditionnelles à chargement vertical</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966357/" data-ga-label="@clicked-text">Sécheuses traditionnelles</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Laundry_Pairs-3/102290058/" data-ga-label="@clicked-text">Duos de lessive</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Dryers-3/102290054+4294966501/" data-ga-label="@clicked-text">Ensembles laveuse-sécheuse</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Laundry-1/Laundry_Laundry_Appliances_Laundry_Pedestals-3/102290063/" data-ga-label="@clicked-text">Piédestal</a></li>
	            </ul>
	            <ul data-ga-action="Clicked Footer Refrigerators Nav">
	                <li class="header"><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration-2/102290030/" data-ga-label="@clicked-text">Réfrigérateurs</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_French_Door-3/102290031+4294966906/" data-ga-label="@clicked-text">À portes françaises</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_SidebySide-3/102290031+4294967038/" data-ga-label="@clicked-text">Côte à côte</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Bottom_Freezer-3/102290031+4294967048/" data-ga-label="@clicked-text">Congélateur inférieur</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Top_Freezer-3/102290031+4294967059/" data-ga-label="@clicked-text">Congélateur supérieur</a></li>
	                <!-- <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Refrigeration_Refrigerators_Speciality_Refrigerators-3/102290031+4294965859/">Undercounter & Ice Makers</a></li> -->
	            </ul>
	            <ul data-ga-action="Clicked Footer Cooking Nav">
	                <li class="header"><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Cooking-2/102290011/" data-ga-label="@clicked-text">Cuisson</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Ranges-3/102290012/" data-ga-label="@clicked-text">Cuisinières</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Wall_Ovens-3/102290015/" data-ga-label="@clicked-text">Fours encastrés</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Cooktops-3/102290019/" data-ga-label="@clicked-text">Tables de cuisson</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Hoods-3/102290022/" data-ga-label="@clicked-text">Hottes</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Cooking_Microwaves-3/102290026/" data-ga-label="@clicked-text">Fours à micro-ondes</a></li>
	            </ul>
	            <ul data-ga-action="Clicked Footer Disposers Nav">
	                <li class="header"><a href="http://www.maytag.ca/fr_CA/Kitchen-1/Kitchen_Dishwashers_and_Kitchen_Cleaning-2/102290002/" data-ga-label="@clicked-text">Broyeur</a></li>
	            </ul>
	            <ul  data-ga-action="Clicked Footer Filters Nav">
	                <li class="header no_link">Filtres et accessoires</li>
	                <li><a href="http://www.maytag.ca/fr_CA/Accessories-1/Accessories_Laundry-2/102290118/" data-ga-label="@clicked-text">Service et soutien</a></li>
	                <li><a onclick="dcsMultiTrack('DCS.dcsuri','on_release_Owner_Center_Home_manuals_literature','WT.ti','on_release_Owner_Center_My_Appliances');" href="http://www.maytag.ca/fr_CA/my_appliances" data-ga-label="@clicked-text">Mes électroménagers</a></li>
	                <li><a href="http://www.maytag.ca/webapp/wcs/stores/servlet/OCProductRegistrationView?catalogId=10579&amp;langId=-300&amp;storeId=10229" data-ga-label="@clicked-text">Enregistrement d’un produit</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/schedule_repair" data-ga-label="@clicked-text">Service et réparation</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/manuals" data-ga-label="@clicked-text">Manuels et documentation</a></li>
	                <!-- <li><a href="http://www.maytag.ca/fr_CA/product_help">Product Help</a></li> -->
	                <!--<li><a href="http://www.maytag.ca/fr_CA/jump-page_extended-service-plans.content.html">Extended Service Plan</a></li>-->
	                <li><a href="https://repair.maytag.com/prjjck10/default.jsp?siteCd=RCU_fr_CA&amp;id=R173BV" target="_blank" data-ga-label="@clicked-text">Rappel de produit</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/2_3_24/jump-page_replacement-parts.content.html" data-ga-label="@clicked-text">Pièces de rechange</a></li>
	            </ul>
	            <ul data-ga-action="Clicked Footer Shopping Help Nav">
	                <li class="header no_link">Aide pour le magasinage</li>
	                <li><a href="http://www.maytag.ca/fr_CA/4_1_30/glossary_glossary.content.html" data-ga-label="@clicked-text">Glossaire</a></li>
	                <!--<li><a href="http://www.maytag.ca/fr_CA/2_3_713/jump-page_may-is-maytag.content.html">Promotions</a></li>-->
	                <!-- <li class="header no_link">Additional Products</li>
					
					
					<li><a href="http://www.maytag.ca/fr_CA/jump-page_commercial-laundry.content.html">Commercial<br/>Laundry Products</a></li> -->
	            </ul>
	            <ul class="last" data-ga-action="Clicked Footer About Maytag Nav">
	                <li class="header"><a href="http://www.maytag.ca/fr_CA/2_2_40/support_about-maytag.content.html" data-ga-label="@clicked-text">À propos de nous</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/contact-us/" data-ga-label="@clicked-text">Contactez-nous</a></li>
	                <li><a href="http://www.maytag.ca/fr_CA/2_3_50/jump-page_Press-and-Media.content.html" data-ga-label="@clicked-text">Salle de presse</a></li>
	                <li><a href="hhttp://www.whirlpoolcanada.com/fr/Home/default.html" target="blank" data-ga-label="@clicked-text">Whirlpool Corporation</a></li>
	            </ul>
	        </div>
	        <div id="footer-legal">
	            <div id="footer-trademark">
	                <!-- MSRP is Manufacturer&#39;s Suggested Retail Price and may not necessarily be the price at which the product is sold in the consumer&#39;s area.<br>Dealer alone determines actual price. <br /><br /> -->®/TM ©
	                <script type="text/javascript">
	                    var date = new Date();
	                    document.write(date.getFullYear());
	                </script>Tous droits réservés.</div>
	            <div id="footer-legal-links"  data-ga-action="Footer Lower Links"><a href="http://www.maytag.ca/webapp/wcs/stores/servlet/WHRPopUpContentDisplayView?catalogId=10562&langId=-301&cid=2_2_42&KeepThis=true&TB_iframe=true&height=625&width=500&modal=false" class="thickbox" data-ga-label="@clicked-text">Modalités</a> <span>|</span> <a href="http://www.whirlpoolcorp.com/shared/content/privacy/canada_privacy_statement_french.pdf" class="last" data-ga-label="@clicked-text">Politique de confidentialité</a></div>
	        </div>
	    </div>
	</div>

</footer>