<div class="main bg-maytag">
	<!-- Top section -->
	<div class="top-section">

		<!-- Search -->
		<div class="top-section-left">
			<input id="wp-app-search" type="text" name="wp-qualifier-app-search" placeholder="Find Your Maytag">
		</div>

		<!-- Top right links -->
		<div class="top-section-right">
			<a class="" href="#">What I Need</a>
			<a href="#">How I'll Use It</a>
			<a href="#">Important Features</a>
		</div>
	</div>

	<!-- Main section with questions -->
	<div id="app-content-main">
		<!-- Top of main section -->
		<div class="question">
			<!-- Question -->
			<h3>Lorem ipsum dolor sit amet?</h3>

			<a id="app-save" href="#">Save</a>
		</div>

		<hr>

		<!-- Categories -->
		<div class="app-categories">
			<a class="category" href="#">
				<img src="img/category-icon-kitchen.png">
				<div>Kitchen</div>
				<div>52 Options</div>
			</a>
			<a class="category" href="#">
				<img src="img/category-icon-laundry.png">
				<div>Laundry</div>
				<div>22 Options</div>
			</a>
			<a class="category" href="#">
				<img src="img/category-icon-accessories.png">
				<div>Filters Accessories</div>
				<div>22 Options</div>
			</a>
		</div>

		<!-- Stove Dial Question Example -->
		<div class="app-answers">

			<img src="img/stove-dial.png">

		</div>

		<!-- Washing Machine Load Size Question Example -->
		<div class="app-answers">

			<img src="img/laundry-volume-dial.png">

		</div>

		<!-- Product Example -->
		<div class="app-product-results">

			<img src="img/product.png">

		</div>

		<hr>

		<!-- Footer for Questions -->
		<div class="bottom-section">
			<!-- Temporary single img due to Photoshop assets... -->
			<img src="img/icons-laundry-bottom.png">

			<a href="#">
				<!-- <img src=""> -->
				<div>High-Efficiency Front-Load Washer</div>
			</a>
			<a href="#">
				<!-- <img src=""> -->
				<div>High-Efficiency Top-Load Washer</div>
			</a>
			<a href="#">
				<!-- <img src=""> -->
				<div>Laundry Pairs</div>
			</a>
			<a href="#">
				<!-- <img src=""> -->
				<div>Laundry Organizers</div>
			</a>
		</div>

		<hr>

	</div>
	
</div>