<!-- Application Start Screen -->
<div id="app-content-main" class="main-content">
	<div class="content-inner">

		<!-- Top of main section -->
		<div class="app-content-main-top">
			<div class="app-content-main-top-left">
				<h2>Welcome to My Maytag, what can we help you find?</h2>
				<h3>Select One</h3>
			</div>

			<div class="app-content-main-top-right">
				<button class="btn btn-default">Begin</button>
			</div>
		</div>

		<div class="app-categories app-content-main">
			<a class="category laundry" href="#">
				<img src="img/laundry-Pair_1175X1290_P130793_53.jpg">
				<div class="category-name">Laundry</div>
			</a>
			<a class="category cooking" href="#">
				<img src="img/wall-over-double-Standalone_1175X1290.jpg">
				<div class="category-name">Cooking</div>
			</a>
			<a class="category fridge" href="#">
				<img src="img/fridge-Standalone_1175X1290.jpg">
				<div class="category-name">Refrigerator</div>
			</a>
			<a class="category dishwasher" href="#">
				<img src="img/dishwasher-Standalone_1175X1290.jpg">
				<div class="category-name">Dishwasher</div>
			</a>
		</div>
	</div>

</div>