<div class="main bg-maytag">
	<!-- Top section -->
	<div>
		<!-- Search -->
		<div>
			Find Your Maytag
		</div>

		<!-- Top right links -->
		<div>
			<a href="#">What I Need</a>
			<a href="#">How I'll Use It</a>
			<a href="#">Important Features</a>
		</div>
	</div>

	<!-- Main section with questions -->
	<div>
		<!-- Top of main section -->
		<div>
			<!-- Question -->
			<h3>Lorem ipsum dolor sit amet?</h3>

			<a href="#">Save</a>
		</div>

		<hr>

		<!-- Categories -->
		<div>
			<a href="#">
				<img src="img/category-icon-kitchen.png">
				<div>Kitchen</div>
				<div>52 Options</div>
			</a>
			<a href="#">
				<img src="img/category-icon-laundry.png">
				<div>Laundry</div>
				<div>22 Options</div>
			</a>
			<a href="#">
				<img src="img/category-icon-accessories.png">
				<div>Filters Accessories</div>
				<div>22 Options</div>
			</a>
		</div>

		<!-- Stove Dial Question Example -->
		<div>

			<img src="img/stove-dial.png">

		</div>

		<!-- Washing Machine Load Size Question Example -->
		<div>

			<img src="img/laundry-volume-dial.png">

		</div>

		<!-- Product Example -->
		<div>

			<img src="img/product.png">

		</div>

		<hr>

		<!-- Footer for Questions -->
		<div>
			<!-- Temporary single img due to Photoshop assets... -->
			<img src="img/icons-laundry-bottom.png">

			<a href="#">
				<!-- <img src=""> -->
				<div>High-Efficiency Front-Load Washer</div>
			</a>
			<a href="#">
				<!-- <img src=""> -->
				<div>High-Efficiency Top-Load Washer</div>
			</a>
			<a href="#">
				<!-- <img src=""> -->
				<div>Laundry Pairs</div>
			</a>
			<a href="#">
				<!-- <img src=""> -->
				<div>Laundry Organizers</div>
			</a>
		</div>

		<hr>

	</div>
	
</div>