<!-- Application Start Screen -->
<div id="app-content-main" class="main-content">
	<div class="content-inner">

		<!-- Top of main section -->
		<div class="app-content-main-top">
			<div class="app-content-main-top-left">
				<h2>Which product would you like to explore first?</h2>
				<h3>Select One</h3>
				<div class="screen-info">
					<a href="#" class="screen-info-why info-btn">
						<span id="why-icon" class="icon"></span>
						<span class="desc">Why am I being asked this?</span>
					</a>
					<a href="#" class="screen-info-measurement-guide info-btn">
						<span id="info-icon" class="icon"></span>
						<span class="desc">Measurement Guide</span>
					</a>
				</div>
			</div>

			<div class="app-content-main-top-right">
				<button class="btn btn-default btn-save">Save</button>
			</div>
		</div>

		<div class="app-categories app-content-main">
			<a class="category ranges" href="#">
				<img src="img/range-gas-Standalone_1175X1290.jpg">
				<div class="category-name">Ranges</div>
			</a>
			<a class="category cooktops" href="#">
				<img src="img/cooktop-Additional_1175X1290_P140172_10.jpg">
				<div class="category-name">Cooktops</div>
			</a>
			<a class="category wallovens" href="#">
				<img src="img/walloven-single-Standalone_1175X1290.jpg">
				<!-- <img src="img/wall-oven-double-small-Standalone_1175X1290.jpg">
				<img src="img/wall-over-double-Standalone_1175X1290.jpg"> -->
				<div class="category-name">Wall Ovens</div>
			</a>
			<a class="category venthoods" href="#">
				<img src="img/vent-hood-Standalone_1175X1290.jpg">
				<div class="category-name">Vent Hoods</div>
			</a>
		</div>

		<div class="app-content-main-bottom">
			<div class="app-content-main-bottom-left">
				<a href="#" class="btn-prev">
					<div class="btn btn-default">
						<span class="arrow-prev">Arrow</span>
					</div>
					<div class="btn-text">Previous</div>
				</a>
			</div>
			<div class="app-content-main-bottom-right">
				<a href="#" class="btn-next">
					<div class="btn btn-default">
						<span class="arrow-prev">Arrow</span>
					</div>
					<div class="btn-text">Next</div>
				</button>
			</div>
		</div>
	</div>

</div>