<div ng-controller="NavigationCtrl" ng-class="{{locale}}" resize style="clear: both;" class="app-content-main-bottom">

	<div bo-text="brandData.appText.changeYourAnswer" ng-if="!questionsData.question"></div>

	<div class="app-nav-arrows">
		<a href="#" class="btn-prev" ng-click="previous()" id="previous" ng-if="!!questionsData.question.previous">
			<img class="arrow-prev" ng-src="img/arrow-left.png">
		</a>

		<a href="#" class="btn-next" ng-if="!!questionsData.question && questionsData.question.name !='Appliance'" ng-click="!controls.questionHasAnswer || next()" id="next" ng-class="{'disabled' : !controls.questionHasAnswer}">
			<img class="arrow-next" ng-src="img/arrow-right.png">
		</a>

	</div>

	<div class="app-content-main-bottom-left">
		
	</div>

	<div class="app-content-main-bottom-center" ng-if="questionsData.question.name !='Appliance' && questionsData.question.name !='Cooking - Pre-Qualifier 1' ">
		<div class="bottom-nav-wrap">
			<div class="bottom-nav-inner">
				<div class="bottom-nav-intructions">
					<span class="instructions" bo-text="brandData.apptext.changeYourAnswer"></span>
				</div>
				<div class="bottom-nav-inner-inner">
					<div ng-repeat="q in questionsData.scoringQuestions | orderByOrder" class="icon-nav-wrap" ng-if="byName(q) && q.thumbnail_text != 'Appliance' && q.thumbnail_text != 'Cooking'">
				    	<a ng-init="a=hasAnswer(q);q.a_thumbnail_type=setType(q,a)" class="icon-nav" ng-click="navToQuestions(q)" popover-placement="top" popover-append-to-body="true" popover-title="{{q.thumbnail_text}}" popover="{{q.show.question}}" popover-trigger="mouseenter">
					      	<img ng-src="img/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '' }}.png" ng-class="{ 'icon-img-current' : (q.name == questionsData.question.name), 'icon-img' : (q.name != questionsData.question.name)}" />
				    	</a>      
					</div>
	 
					<div ng-repeat="q in questionsData.questions | nextQuestions:questionsData.scoringQuestions as nextQs" class="icon-nav-wrap" ng-if="!!q.thumbnail_type">
				    	<a class="icon-nav">
                            <!-- img/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '-next' }}.png -->
					      	<img ng-if="isMobile" ng-src="img/mbl/icon-current.png" ng-class="{ 'icon-img-current' : (q.name == questionsData.question.name), 'icon-img' : (q.name != questionsData.question.name)}" />
                            <img ng-if="!isMobile" ng-src="img/icon-{{q.thumbnail_text.replace(' ','').toLowerCase()}}{{(q.name == questionsData.question.name) && '-current' || '-next' }}.png" ng-class="{ 'icon-img-current' : (q.name == questionsData.question.name), 'icon-img' : (q.name != questionsData.question.name)}" />
				    	</a>      
					</div>
				</div>
			</div>

			<div class="btn-wrapper">
				<div class="startover-btn-wrap" ng-if="questionsData.question.name != 'Appliance'">
					<a id="startover" class="btn btn-startover" ng-click="startOver()">
						<span ng-bind-html="brandData.apptext.startover"></span>
					</a>
				</div>
				<div class="backtoresults-btn-wrap" ng-if="!!resultsTouched && !!questionsData.question">
					<a id="backtoresults" class="btn btn-backtoresults" ng-click="next(true)">
						<span ng-bind-html="brandData.apptext.backtoresults"></span>
					</a>
				</div>
			</div>





		</div>





	</div>





</div>
