<div class="row" ng-controller="NavigationCtrl">
  <div ng-repeat="q in scoringQuestions | orderByOrder" class="col-xs-1">
      <a ng-init="a=setAnswer(q);q.a_thumbnail_type=setType(q,a);log(a)" class="col-xs-1" href="#" class="thumbnail">

      	<img ng-if="q.a_thumbnail_type=='image'" ng-src="{{a.thumbnail}}" style="width: 30px" />
      	<span ng-if="q.a_thumbnail_type=='glyphicon'" class="glyphicon glyphicon-{{a.thumbnail}}" style="width: 30px; height: 30px"></span>
      	<span ng-if="q.a_thumbnail_type=='text'" style="width: 30px; height: 30px" bo-text="a.thumbnail"></span>
      	<span ng-if="!!q.thumbnail_text" bo-text="q.thumbnail_text">
      </a>      
  </div>
</div>

