<!-- Application Start Screen -->
<div id="app-content-main" class="main-content">
	<div class="content-inner">

		<!-- Top of main section -->
		<div class="app-content-main-top">
			<div class="app-content-main-top-left">
				<h2 ng-bind="questionsData.question.show.question"></h2>
				<h3 ng-if="!!questionsData.question.show.sub_question" ng-bind="questionsData.question.show.sub_question"></h3>

				<div class="extra-info-wrap">
					<a class="" ng-if="!!questionsData.question.show.explanation_title">
						<span class="icon-why">?</span>
						<span ng-bind="questionsData.question.show.explanation_title"></span>
					</a>
					<a class="" ng-if="!!questionsData.question.show.info">
						<span class="icon-info">i</span>
						<span ng-bind="questionsData.question.show.info"></span>
					</a>	
				</div>
			</div>

			<!-- Needs to be in a hover box / overlay
				<span ng-bind="expquestionsData.question.show.explanation"></span> -->

			<div class="app-content-main-top-right" ng-if="questionsData.scoringQuestions.length">
				<!-- Needs to switch to save after intro -->
				<button class="btn btn-default">Begin</button>
			</div>
		</div>
	</div>
	

	<div ng-if="!!questionsData.question.show.type" class="app-answers content-inner" ng-include="'views/answers/'+questionsData.question.show.type+'.html'">
	</div>
	


</div>