<div bindonce>
  <div class="modal-body" stop-event="touchend">
    <div class="modal-message modal-session">
      <div class="background"></div>
      <div class="content-wrapper">
        <div class="content">
          <h2 class="message" bo-text="brandData.apptext.restoreSession"></h2>
          <button class="btn" bo-text="brandData.apptext.yes" ng-click="close()"></button>
          <button class="btn" bo-text="brandData.apptext.no" ng-click="reload()"></button>
        </div>
      </div>
    </div>
  </div>

</div>




